.c-count {
	&__number {
		font-weight: normal;
		font-size: spvw(28);
		@include mqMin($tabletSmall) {
			font-size: 36px;
		}
	}
	&__unit {
		font-size: spvw(20);
		@include mqMin($tabletSmall) {
			font-size: 24px;
		}
	}
}
