.c-gmap-iframe {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	@include mqMin($tabletSmall) {
		padding-bottom: 56.25%;
	}
	@include gatterBlock;
	iframe {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}
