.c-heading-05 {
	margin-bottom: spvw(8);
	line-height: 1.44;
	font-size: spvw(18);
	font-weight: bold;
	@include mqMin($tabletSmall) {
		margin-bottom: 16px;
		line-height: 1.4;
		font-size: 20px;
	}
}
