.c-heading-tax {
	padding-top: spvw(32);
	@include mqMin($tabletSmall) {
		padding-top: 40px;
	}
	@include gatterBlock;
	&__term-tax {
		font-size: spvw(28);
		@include mqMin($tabletSmall) {
			font-size: 36px;
		}
	}
	&__term-name {
		font-size: spvw(36);
		@include mqMin($tabletSmall) {
			font-size: 48px;
		}
	}
}
