.c-hr {
	$this: #{&};
	display: block;
	width: 100%;
	margin: spvw(32) auto;
	border-top-style: solid;
	border-top-width: 1px;
	@include mqMin($tabletSmall) {
		margin: 40px auto;
	}
	&--black {
		@extend #{$this};
		border-top-color: $alto;
	}
	&--white {
		@extend #{$this};
		border-top-color: $white;
	}
}
