.c-media-block {
	&__figure {
		text-align: center;
		line-height: 0;
		&.video {
			position: relative;
			height: 0;
			padding-bottom: 56.25%;
			> div,>iframe,>video,>video-js {
				display: block!important;
				position: absolute!important;
				width: 100% !important;
				height: 100%!important;
				max-width: 100% !important;
				top: 0 !important;
				left: 0 !important;
			}
		}
		> img {
			width: 100%;
		}
	}
	&__caption {
		margin-top: spvw(12);
		text-align: left;
		line-height: 1.33;
		font-size: spvw(12);
		@include mqMin($tabletSmall) {
			margin-top: 16px;
			line-height: 1.29;
			font-size: 14px;
		}
	}
}
