.c-text {
	$this: #{&};
	@include gatterBlock;
	& > * {
		@include gatter;
	}
	& > :last-child {
		margin-bottom: 0;
	}
	&--caption {
		@extend #{$this};
		line-height: 1.33;
		font-size: spvw(12);
		@include mqMin($tabletSmall) {
			line-height: 1.29;
			font-size: 14px;
		}
	}
}
