.c-selectbox {
	display: block;
	position: relative;
	cursor: pointer;
	&::after{
		content: "";
		display: block;
		position: absolute;
		right: spvw(52);
		width: spvw(20);
		height: spvw(12);
		top:50%;
		transform: translateY(-50%);
		background-image: url(/assets/img/arrow_bottom.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		pointer-events: none;
		cursor: pointer;
		@include mqMin($tabletSmall) {
			right: 60px;
			width: 20px;
			height: 12px;
		}
	}
	&__box {
		padding: spvw(12) spvw(32);
		width: 100%;
		border-radius: 4px;
		border:solid 1px #D7D7D7;
		background-color: $white;
		font-size: spvw(20) !important;
		cursor: pointer;
		@include mqMin($tabletSmall) {
			padding: 12px 40px;
			font-size: 20px !important;
		}
	}
}
