.gn-section{
	@include gatterBlock;
}
.gn-tbl {
	width: 100%;
	tr {
		border-top: 1px solid $alto;
		&:last-child{
			border-bottom: 1px solid $alto;
		}
	}
	&__country,
	&__company {
		vertical-align: top;
		@include mqMax($smart) {
			display: block;
			width: 100%;
			padding-bottom: spvw(16);
		}
		@include mqMin($tabletSmall) {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
	&__country {
		font-weight: bold;
		@include mqMax($smart) {
			padding-top: spvw(16);
		}
		@include mqMin($tabletSmall) {
			width: 188px;
			margin-right: 32px;
		}
		&--global {
			@include mqMax($smart) {
				display: none;
			}
		}
	}
	&__company {
		&--global {
			@include mqMax($smart) {
				padding-top: spvw(16);
			}
		}
		ul {
			li {
				margin-bottom: spvw(16);
				@include mqMin($tabletSmall) {
					margin-bottom: 16px;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
