.gri-tbl-index {
	@include gatterBlock;
	table {
		width: 100%;
		@include mqMax($smart) {
			display: block;
		}
		@include mqMin($tabletSmall) {
			table-layout: fixed;
		}
		tr {
			td {
				border-style: solid;
				border-width: 0 1px 1px;
				border-color: $alto;
				vertical-align: top;
				padding: 12px 20px;
				@include mqMax($smart) {
					width: 100%;
					display: block;
					padding: spvw(12) spvw(20);

				}
				@include mqMin($tabletSmall) {
					padding: 12px 20px;
					border-width: 1px;
				}
			}
			&:first-child{
				td {
					&:first-child{
						border-top-width: 1px;
					}
				}
			}
			&:last-child {
				.is-blank {
					@include mqMax($smart) {
						display: none;
					}
				}
			}
		}
	}
}

.gri-data-tbl {
	table {
		thead {
			th {
				&:first-child{
					width: 13.32%;
				}
				&:nth-child(2) {
					width: 27.59%;
				}
			}
		}
		tbody {
			td {
				font-size: spvw(14);
				@include mqMin($tabletSmall) {
					font-size: 14px;
				}
			}
		}
	}

}
