.chron-hist-tab {
	.p-navi-tab__list-link {
		cursor: pointer;
		&.is-active {
			cursor: default;
		}
	}
}
.chron-hist-age {
	display: none;
	&.is-active {
		display: block;
		animation: agefadeIn 0.5s linear normal;
	}
}
@keyframes agefadeIn {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
