.pbox-search-form{
	@include gatterBlock;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color: $concrete;
	border-radius: 8px;
	padding: spvw(16) spvw(20);
	@include mqMin($tabletSmall) {
		padding: 32px 40px;
	}
	&__label {
		display: none;
	}
	&__input {
		flex: 1;
		border:solid 1px $mercury;
		background-color:$white;
		padding: spvw(4) spvw(12);
		@include mqMin($tabletSmall) {
			padding: 8px 16px;
		}
	}
	&__btn {
		width: spvw(76);
		background-color: #707070;
		text-align: center;
		color: $white;
		font-size: spvw(18);
		@include mqMin($tabletSmall) {
			width: 96px;
			font-size: 18px;
		}
	}
}
.pbox-search-status {
	@include gatterBlock;
	font-size: spvw(18);
	@include mqMin($tabletSmall) {
		font-size: 20px;
	}
	&__result {
		text-align: right;
	}
	&__error {
		padding: spvw(8);
		text-align: center;
		background-color: $wildSand;
		color: $red;
		@include mqMin($tabletSmall) {
			padding:16px;
		}
	}
	._cstart ,._hyphen,._cend ,._totalhits {
		font-size: spvw(24);
		@include mqMin($tabletSmall) {
			font-size: 28px;
		}
	}
}
._pbox-searchresult {
	@include gatterBlock;
	._records {
		._record {
			padding: spvw(32) 0;
			border-top: solid 1px $alto;
			@include mqMin($tabletSmall) {
				padding: 40px 0;
			}
			&:last-child{
				border-bottom: solid 1px $alto;
			}
			._title {
				margin-bottom: spvw(8);
				font-size: spvw(20);
				@include mqMin($tabletSmall) {
					margin-bottom: 16px;
					font-size: 24px;
				}
			}
			._nearby {
				margin-bottom: spvw(8);
				@include mqMin($tabletSmall) {
					margin-bottom: 16px;
				}
				em {
					font-style: normal;
					font-weight: bold;
					background-color: #ffff66;
				}
			}
			._url {
				.pbClick {
					word-break: break-all;
				}
			}
		}
	}
}
.pbox-pagenav {
	._navs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include mqMin($tabletSmall) {
			flex-wrap: nowrap;
		}
		._prev ,._next, ._page {
			margin: spvw(4);
			background-color:$white;
			border: 1px solid #d7d7d7;
			border-radius: 8px;
			text-align: center;
			font-size: spvw(18);
			font-weight: bold;
			@include mqMin($tabletSmall) {
				margin: 8px;
				font-size: 20px;
			}
			a,&._cur {
				display: block;
				padding: spvw(8) spvw(16);
				color: $mineShaft;
				@include mqMin($tabletSmall) {
					padding: 12px 18px;
				}
			}
			a {
				@include transitionDefalt;
				&:hover {
					text-decoration: none;
					@include mqMin($tabletSmall) {
						opacity: .7;
					}
				}
			}
			&._noanc {
				display: none;
			}
			&._cur {
				background-color: #f2f2f2;
				border-color: #f2f2f2;
				cursor: default;
			}
		}
		._prev ,._next {
			width: 100%;
			@include mqMin($tabletSmall) {
				width: auto;
			}
		}
	}
}
