//site map
.smp-home {
	display: block;
	padding-bottom: spvw(32);
	margin-bottom: spvw(32);
	border-bottom: solid 1px $alto;
	line-height: 1.28;
	font-size: spvw(28);
	@include mqMin($tabletSmall) {
		padding-bottom: 40px;
		margin-bottom: 40px;
		font-size: 36px;
	}
}
.smp-archive {
	&__list {
		border-bottom: solid 1px $alto;
		padding-bottom: spvw(32);
		margin-bottom: spvw(32);
		@include mqMin($tabletSmall) {
			padding-bottom: 40px;
			margin-bottom: 40px;
		}
		&__link {
			font-size: spvw(24);
			@include mqMin($tabletSmall) {
				font-size: 28px;
			}
		}
	}
	& & {
		padding-left: spvw(12);
		@include mqMin($tabletSmall) {
			padding-left: 20px;
		}
	}
	& & &__list {
		border-bottom: none;
		margin-top: spvw(32);
		padding-bottom: 0;
		margin-bottom: 0;
		@include mqMin($tabletSmall) {
			margin-top: 40px;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		&__link {
			display: inline-block;
			font-size: spvw(20);
			@include mqMin($tabletSmall) {
				font-size: 24px;
			}
		}
	}
	& & & {
		padding-left: 20px;
		@include mqMin($tabletSmall) {
			padding-left: 20px;
		}
	}
	& & & &__list{
		margin-top: spvw(16);
		@include mqMin($tabletSmall) {
			margin-top: 16px;
		}
		&__link {
			font-size: spvw(18);
			@include mqMin($tabletSmall) {
				font-size: 20px;
			}
		}
	}
}
