.stories-entries {
	display: block;
	margin-top: 0;
	@include mqMin($tabletSmall) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: -8px;
	}
	&.stories-archives {
		&::after {
			@include mqMin($tabletSmall) {
				content: "";
				display: block;
				width: 32.9%;
			}
		}
	}
}
.stories-entry-blank {
	display: none;
	@include mqMin($tabletSmall) {
		display: block;
		width: 32.9%;
		margin-top: 8px;
	}
}
.stories-entry {
	background-color: $concrete;
	position: relative;
	display: block;
	margin-top: spvw(8);
	@include mqMin($tabletSmall) {
		width: 32.9%;
		margin-top: 8px;
	}
	&__thumb {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__section {
		box-sizing: border-box;
		min-height: spvw(180);
		padding: spvw(16);
		@include mqMin($tabletSmall) {
			min-height: 240px;
			padding: 20px;
		}
		&__ttl {
			font-size: spvw(20);
			@include mqMin($tabletSmall) {
				margin-bottom: 8px;
				font-size: 24px;
			}
		}
		&__summary {
			font-size: spvw(16);
			color: $gray;
			@include mqMin($tabletSmall) {
				font-size: 18px;
			}
			&:hover {
				text-decoration: none !important;
			}
		}
		&__tags {
			position: absolute;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			bottom: spvw(16);
			left: spvw(16);
			padding-right: spvw(16);
			@include mqMin($tabletSmall) {
				bottom: 20px;
				left: 20px;
				padding-right: 20px;
			}
			&__list {
				padding-right: spvw(8);
				margin-right: spvw(8);
				margin-top: spvw(4);
				border-right: solid 1px $gray;
				line-height: 1;
				color: $gray;
				font-size: spvw(12);
				@include mqMin($tabletSmall) {
					padding-right: 8px;
					margin-right: 8px;
					margin-top: 4px;
					font-size: 14px;
				}
				&:last-child {
					padding-right: 0;
					margin-right: 0;
					border-right:none !important;
				}
			}
		}
	}
	&:hover {
		@include mqMin($tabletWide) {
			text-decoration: none;
		}
		.stories-entry {
			&__section {
				&__ttl {
					@include mqMin($tabletWide) {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
@include mqMin($tabletSmall) {
	.stories-entry-first {
		display: block;
		position: relative;
		width: 100%;
		.stories-entry {
			&__section {
				background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
				padding: 64px 32px 32px;
				width: 100%;
				position: absolute;
				min-height: auto;
				left: 0;
				bottom: 0;
				&__ttl ,&__lead ,&__tags{
					color: $white;
				}
				&__ttl {
					margin-bottom: 8px;
					font-size: 24px;
				}
				&__lead {
					font-size: 18px;
				}
				&__tags {
					left:32px;
					bottom: 32px;
					opacity: 0.8;
					&__list {
						color: $white;
						font-size: 16px;
						border-right-color:  $white;
					}
				}
			}
		}
		&:hover {
			.stories-entry {
				&__section {
					&__ttl {
						text-decoration: none;
					}
				}
			}
		}
	}
}
@include mqMin($tabletSmall) {
	.stories-entry-horizontal {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		.stories-entry {
			&__thumb {
				width: 66.45%;
				&.reverse {
					order: 20;
				}
			}
			&__section {
				flex: 1;
				padding: 24px;
				position: relative;
				&.reverse {
					order: 10;
				}
				&__lead {
					padding-bottom: 0;
				}
				&__tags {
					left: 24px;
					bottom: 24px;
				}
			}
		}
	}
}
.stories-reading-time {
	@include gatterBlock;
	margin-top: - spvw(24);
	font-size: spvw(12);
	@include mqMin($tabletSmall) {
		margin-top: -26px;
		font-size: 14px;
	}
}
