//Umami Recipes Common
.ur-main {
	background: url(/assets/img/bg_umami-recipes.png) repeat-x 0 0;
}
.ur-follows {
	@include flexNowrapCenter;
	&__icon {
		display: block;
		width: spvw(48);
		margin-left: spvw(12);
		margin-right: spvw(12);
		@include mqMin($tabletSmall) {
			width: 48px;
			margin-left: 12px;
			margin-right: 12px;
		}
		img {
			width: 100%;
		}
	}
}
.ur-img-copy {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	color: $mineShaft;
	padding: spvw(8) spvw(12);
	font-size: spvw(12);
	@include mqMin($tabletSmall) {
		padding: 8px 12px;
		font-size: 14px;
	}
}
//Umami Recipes Archives
.ur-pickup {
	margin-bottom: spvw(24);
	@include mqMin($tabletSmall) {
		margin-bottom: 16px;
	}
}
.ur-card {
	&__figure {
		line-height: 1;
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
		background-size: cover;
		background-position: center center;
		@include mqMin($tabletWide) {
			transition: opacity $transitionFast $easing;
		}
		> img {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		margin-top: spvw(12);
		line-height: 1.5;
		font-size: spvw(20);
		font-weight: normal;
		@include mqMin($tabletSmall) {
			margin-top: 16px;
			line-height: 1.33;
			font-size: 24px;
		}
	}
}
a {
	&:hover {
		.ur-card__figure {
			@include mqMin($tabletSmall) {
				opacity: $opacity;
			}
		}
	}
}

//Umami Recipes Single
.ur-heading-single {
	padding-top: spvw(32);
	margin-bottom: spvw(8);
	line-height:1.22;
	font-size: spvw(36);
	font-weight: bold;
	@include mqMin($tabletSmall) {
		padding-top: 40px;
		margin-bottom: 16px;
		line-height: 1.166;
		font-size: 48px;
	}
}
.ur-video {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	> div,>iframe,>video,>video-js {
		display: block!important;
		position: absolute!important;
		width: 100% !important;
		height: 100%!important;
		max-width: 100% !important;
		top: 0 !important;
		left: 0 !important;
	}
}
.ur-schema {
	@include flexWrapSb;
	@include mqMin($tabletSmall) {
		@include flexWrapFs;
	}
	&__figure {
		width: 50%;
		@include flexNowrapFs;
		align-items: center;
		margin-bottom: spvw(12);
		line-height: 1;
		@include mqMin($tabletSmall) {
			width: auto;
			margin-right: 32px;
			margin-bottom: 40px;
		}
		img {
			@include mqMax($smart) {
				margin-right: spvw(6);
				height: spvw(16);
			}
			@include mqMin($tabletSmall) {
				margin-right: 8px;
			}
		}

	}
}
.ur-featured-img {
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
}
.ur-umami {
	background-color: #F9F2EE;
	@include gatterBlock;
	padding-top: spvw(32);
	padding-bottom: spvw(32);
	@include mqMin($tabletSmall) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&__from {
		@include flexWrapSb;

		&__block {
			@include flexNowrapSb;
			width: 100%;
			@include gatter;
			@include mqMin($tabletSmall) {
				width: 48.1%;
			}
			&__img {
				width:33.5%;
			}
			&__txt {
				width:59.5%;
			}
		}
	}
	&__sup {
		& > :last-child {
			margin-bottom: 0;
		}
		p {
			font-size: spvw(14);
			@include gatter;
			@include mqMin($tabletSmall) {
				font-size: 16px;
			}
		}
	}
}
