.u-dp {
	&--sp {
		@include mqMin($tabletSmall) {
			display: none !important;
		}
	}
	&--pc {
		@include mqMax($smart) {
			display: none !important;
		}
	}
}
//margin paddingを0〜84pxまで定義
//スマートフォンはvwに置き換え
@for $value from 0 to 21 {
	.u-mt--#{$value * 4 } {
		margin-top: 4px * $value;
		@include mqMax($smart) {
			margin-top: spvw(4 * $value);
		}
	}
	.u-mb--#{$value * 4 } {
		margin-bottom: 4px * $value;
		@include mqMax($smart) {
			margin-bottom: spvw(4 * $value);
		}
	}
	.u-pt--#{$value * 4 } {
		padding-top: 4px * $value;
		@include mqMax($smart) {
			padding-top: spvw(4 * $value);
		}
	}
	.u-pb--#{$value * 4 } {
		padding-bottom: 4px * $value;
		@include mqMax($smart) {
			padding-bottom: spvw(4 * $value);
		}
	}
}

//align
.u-al{
	&--left {
		text-align: left;
	}
	&--center {
		text-align: center;
	}
	&--right {
		text-align: right;
	}
}

//font-weight
.u-fw{
	&--normal {
		font-weight: normal;
	}
	&--bold {
		font-weight: bold;
	}
}

//color
.u-color{
	&--red {
		color: $red;
	}
	&--blue {
		color: $azure;
	}
}


.u-mt-wide {
	margin-top: 80px;
	@include mqMax($smart) {
		margin-top: spvw(64);
	}
}
.u-mt-middle {
	margin-top: 40px;
	@include mqMax($smart) {
		margin-top: spvw(32);
	}
}
.u-mt-short {
	margin-top: 16px;
	@include mqMax($smart) {
		margin-top: spvw(16);
	}
}
.u-mb-wide {
	margin-bottom: 80px;
	@include mqMax($smart) {
		margin-bottom: spvw(64);
	}
}
.u-mb-middle {
	margin-bottom: 40px;
	@include mqMax($smart) {
		margin-bottom: spvw(32);
	}
}
.u-mb-short {
	margin-bottom: 16px;
	@include mqMax($smart) {
		margin-bottom: spvw(16);
	}
}
