//罫線ボックス
.p-box {
	@include gatterBlock;
	:last-child {
		margin-bottom: 0;
	}
	&.p-box-border {
		padding: spvw(32);
		@include mqMin($tabletSmall) {
			padding: 40px;
		}
		border: 1px solid $alto;
	}
	&.p-box-bgc {
		padding: spvw(32);
		@include mqMin($tabletSmall) {
			padding: 40px;
		}
		background-color: #F7F7F7;
	}
}
