.p-breadcrumbs {

	border-top: 2px solid $mercury;
	@include mqMin($tabletSmall) {
		border-top: none;
		background-color: $wildSand;
	}
	&__list {
		display: none;
		@include mqMin($tabletSmall) {
			@include baseContainer;
			@include flexWrapFs;
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 12px;
			color: $doveGray;
		}
	}
	&__item {
	}
	&__item + &__item {
		&::before {
			content: '>';
			margin: 0 7px;
		}
	}
	&__link {
		color: $doveGray;
		font-style: normal;
	}
}
