//ローカルナビ
.p-navi-local {
	margin-top: spvw(32);
	@include gatterBlock;
	@include mqMin($tabletSmall) {
		margin-top: 40px;
	}
	&:first-child {
		margin-top: 0;
	}
	&__title {
		border-bottom: 1px solid $alto;
		padding-bottom: spvw(16);
		margin-bottom: spvw(16);
		line-height: 1.56;
		font-size: spvw(18);
		font-weight: bold;
		@include mqMin($tabletSmall) {
			padding-bottom: 16px;
			margin-bottom: 16px;
			line-height: 1.33;
			font-size: 24px;
		}
	}
	&__list {
		@include flexWrapFs;
		margin: -#{spvw(27)} 0 0 -#{spvw(32)};
		@include mqMin($tabletSmall) {
			margin: -25px 0 0 -40px;
		}
	}
	&__list-item {
		margin: spvw(27) 0 0 spvw(32);
		@include mqMin($tabletSmall) {
			margin: 25px 0 0 40px;
		}
	}
	&__list-link {
		&.is-current {
			color: $mineShaft;
			pointer-events: none;
			font-weight: bold;
		}
	}
}
