//ページネーション
.p-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@include gatterBlock;
	@include mqMin($tabletSmall) {
		flex-wrap: nowrap;
	}
	.page-numbers {
		display: block;
		width: spvw(48);
		margin: 0 spvw(7);
		padding: spvw(14) 0;
		border: 1px solid $alto;
		border-radius: spvw(8);
		background-color: $white;
		text-align: center;
		color: $mineShaft;
		font-size: spvw(18);
		font-weight: bold;
		@include mqMin($tabletSmall) {
			width: 48px;
			margin: 0 4px;
			padding: 12px 0;
			border-radius: 8px;
			font-size: 20px;
			transition: opacity $transitionFast $easing;
		}
		&:hover {
			@include mqMin($tabletSmall) {
				text-decoration: none;
				opacity: $opacity;
			}
		}
	}
	&__numbers {
		display: flex;
		justify-content: center;
		@include mqMax($smart) {
			width: 100%;
			order: 1;
		}
	}
	&__transition {
		display: flex;
		@include mqMax($smart) {
			width: spvw(152);
			flex-wrap: wrap;
		}
		.page-numbers {
			@include mqMax($smart) {
				width: spvw(152);
				margin: spvw(24) spvw(4) 0;
			}
			@include mqMin($tabletSmall) {
				width: 95px;
				margin: 0 4px;
			}
			&.first,&.last {
				@include mqMax($smart) {
					order: 2;
				}
			}
			&.prev ,&.next {
				@include mqMax($smart) {
					order:1;
				}
			}
		}
		&.first {
			@include mqMax($smart) {
				order: 2;
			}
		}
		&.last {
			@include mqMax($smart) {
				order: 3;
			}
		}
	}
	.current {
		background-color: $concrete;
		border-color: $concrete;
		pointer-events: none;
	}
}
