.p-txtblck {
	@include gatterBlock;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include mqMin($tabletSmall) {
		display: block;
		@include clearfix;
	}
	&.not-wrap {
		@include mqMin($tabletSmall) {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
		}
	}
	&__body {
		order: 10;
		margin-bottom: 0;
		& .c-text {
			@include gatter;
		}
		& > :last-child {
			margin-bottom: 0;
		}
		.not-wrap & {
			@include mqMin($tabletSmall) {
				flex: 1;
			}
		}
	}
	&__fig{
		@include mqMin($tabletSmall) {
			width: 50%;
		}
		&__img {
			width: 100%;
		}
		&--left {
			order: 5;
			margin-bottom: spvw(16);
			@include mqMin($tabletSmall) {
				float: left;
				margin: 0 32px 16px 0;
			}
			.not-wrap & {
				@include mqMin($tabletSmall) {
					float:none;
					margin-bottom: 0;
				}
			}
		}
		&--right {
			margin-top: spvw(16);
			order: 20;
			@include mqMin($tabletSmall) {
				float: right;
				margin: 0 0 16px 32px;
			}
			.not-wrap & {
				@include mqMin($tabletSmall) {
					float:none;
					margin-bottom: 0;
				}
			}
		}
		&__caption {
			margin-top: spvw(4);
			line-height: 1.33;
			font-size: spvw(12);
			@include mqMin($tabletSmall) {
				margin-top: 8px;
				line-height: 1.29;
				font-size: 14px;
			}
		}
		&.fig--col-8 {
			@include mqMin($tabletSmall) {
				width: calc(33.33333% - 16px);
			}
		}
		&.fig--col-6{
			@include mqMax($smart) {
				width: calc(50% - #{spvw(8)});
				margin-left: auto;
				margin-right: auto;
			}
			@include mqMin($tabletSmall) {
				width: calc(25% - 16px);
			}
		}
	}
}
