<%
const localmeta = {
    title: 'インデックス',
	desc: 'ページディスクリプション',
	bodyID:'body'
};
const localbreadcrumbs = [
	{
		label:'ページタイトルA',
		path:'/aboutus/'
	},{
		label:'ページタイトル',
		path:'/aboutus/now'
	}
];
%><%- include('assets/module/_head',{meta:localmeta}) %>
<%- include('assets/module/_header') %>
<div class="p-carousel">
	<div class="swiper-wrapper">
		<picture class="swiper-slide">
			<source media="(max-width:767px)" srcset="/assets/img/dog.jpg">
			<source media="(min-width:768px)" srcset="/assets/img/cat.jpg">
			<img src="/assets/img/cat.jpg" alt="猫">
		</picture>
	</div>
	<div class="swiper-button-prev" aria-label="Go to previous slide" role="button"></div>
	<div class="swiper-button-next" aria-label="Go to Next slide" role="button"></div>
	<div class="swiper-pagination" aria-label="Pagenations"></div>
</div>

<%- include('assets/module/_breadcrumb',{breadcrumbs:localbreadcrumbs}) %>
<%- include('assets/module/_footer') %>
