<% const localmeta = {
    title: 'サイトタイトル',
	desc: 'サイトディスクリプション',
	bodyID:'body'
  };
%><%- include('assets/module/_head',{meta:localmeta}) %>
<%- include('assets/module/_header') %>
	<div class="l-container p-grid">
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション1</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション2</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション3</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション4</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション5</figcaption>
		</figure>
		<figure class="p-grid-bigbox">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション6</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション7</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション8</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション9</figcaption>
		</figure>
		<figure class="p-grid__box">
			<img src="./assets/img/cat_01.jpg" alt="">
			<figcaption>キャプション11</figcaption>
		</figure>
	</div>
	
	<%- include('assets/module/_footer') %>